/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%); 
    --Grayish-Blue: hsl(212, 23%, 69%); 
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-family: Manrope, sans-serif;
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    background-color: #fff;
    max-width: 80%;
    width: 625px;
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(186, 206, 219, 0.5);
    overflow: hidden;
}

h1{
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 1.25em;
}

p {
    color: var(--Desaturated-Dark-Blue);
    margin: 10px 0;
    font-size: 0.9em;
}

.image-hero {
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 60%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile p {
    color: var(--Very-Dark-Grayish-Blue);
    margin: 0;
    font-weight: bold;
}

small {
    color: var(--Desaturated-Dark-Blue);
}


.share-btn {
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 650px) {
    main {
        flex-direction: column;
    }

    .image-hero {
        height: 200px;
    }

    .image-hero,
    .info {
        width: 100%;
    }

    .info {
        padding-bottom: 20px;
    }

    .info > p {
        margin: 15px 0 25gipx;
    }

}
