/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%); 
    --Grayish-Blue: hsl(212, 23%, 69%); 
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-family: Manrope, sans-serif;
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    background-color: #fff;
    max-width: 85%;
    width: 700px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(186, 206, 219, 0.5);
    position: relative;
}

h1{
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 1.5em;
}

p {
    color: var(--Desaturated-Dark-Blue);
    margin: 15px 0 20px;
    font-size: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.image-hero {
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 60%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile p {
    color: var(--Very-Dark-Grayish-Blue);
    margin: 0;
    font-weight: 700;
}

small {
    color: var(--Desaturated-Dark-Blue);
}

.popped .share-btn {
    background-color: var(--Very-Dark-Grayish-Blue);
}

.popped .share-btn path {
    fill: #fff;
}

.popped .popup {
    visibility: visible;
}

.share-btn {
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup {
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
    right: -67px;
    top: 110px;
    box-shadow: 0px 5px 10px rgba(186, 206, 219, 0.5);
}

.popup::after {
    content: '';
    border-style: solid;
    border-width: 8px;
    border-color: var(--Very-Dark-Grayish-Blue);
    transform: rotate(45deg);
    top: 50px;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -15px;
    position: absolute;
}

h3 {
    text-transform: uppercase;
    color: var(--Grayish-Blue);
    letter-spacing: 5px;
    font-size: 1em;
    font-weight: 500;
}

ul {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

li {
    margin: 0 5px;
}

li:first-child {
    margin-left: 0;
}

li:last-child {
    margin-right: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    h1 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.15em;
    }

    .image-hero {
        height: 225px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .image-hero,
    .info {
        width: 100%;
    }

    .info {
        padding-bottom: 20px;
    }

    .info > p {
        margin: 20px 0 30px;
    }

    .share-btn {
        width: 40px;
        height: 40px;
    }

    .popup {
        width: 100%;
        left: 0;
        bottom: 0;
        top: unset;
        right: unset;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 25px 30px;
    }

    .popup::after {
        display: none;
    }

    .popped .share-btn {
        position: relative;
        z-index: 1;
        background-color: var(--Grayish-Blue);
    }
}
